.container1{
    position: relative
}

.firstpage{
    margin-top: 170px;
    margin-left: 300px;
    position: absolute;
    font-family: arial;
    color: white;
    font-size: 45px;
}

.logo{
    display: flex;
    justify-content:space-evenly;
    position:sticky;
}

.backgroundimage{
    position: absolute;
}

.fontsmall{
    margin-top: 230px;
    margin-left: 300px;
    font-size: 21px;
    position: absolute;
    font-family: arial;
    color: white;
}

.shopbutton{
    width: 320px;
    height: 50px;
    background-color: white;
    color: black;
    margin-top: 280px;
    margin-left: 300px;
    position: absolute;
}

.shoptext{
    margin-left: 18px;
    font-size: 21px;
    font-family: arial;
    color: black;
    position: absolute;
}

.images{
    margin-left: 330px;
    margin-right: 330px;
    margin-top: 1100px;
    display: flex;
    justify-content: space-around;
}

.imagesheader{
    margin-left: 330px;
    margin-right: 330px;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    font-family: arial;
    color: black;
}

.imagessmalltext{
    margin-left: 345px;
    margin-right: 345px;
    font-size: 7px;
    display: flex;
    justify-content: space-around;
    font-family: arial;
    color: black;
}

.box{
    margin-top: 100px;
    height: 550px;
    width: 1856px;
    background-color: #00000017;
}

/*Line1*/

.imageandtext{
    margin-left: 200px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}

.text1{
    margin-top: 150px;
    font-family: arial;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.text11{
    margin-top: 50px;
    font-family: arial;
    font-size: 22px;
}

.text12{
    font-family: arial;
    font-size: 22px;
}

/*Line2*/

.imageandtext1{
    margin-left: 300px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.text2{
    margin-top: 210px;
    font-family: arial;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.text21{
    margin-top: 40px;
    font-family: arial;
    font-size: 20px;
    color: #0000008c;
}

/*Line3*/

.headertext{
    margin-top: -575px;
    margin-left: 200px;
    font-family: arial;
    font-size: 25px;
    color: #ffffff;
}

.shopbutton1{
    width: 320px;
    height: 50px;
    background-color: white;
    color: black;
    margin-left: 200px;
    position: absolute;
}

/*Tech Specs*/

.techspecs{
    margin-top: 510px;
    display: flex;
    flex-direction: column;
}

.text3{
    margin-top: 40px;
    font-family: arial;
    font-size: 35px;
    display: flex;
    flex-direction: column;
}

.two{
    margin-top: 20px;
    margin-left: 570px;
    margin-right: 520px;
    display: flex;
    justify-content: space-between;
}

.two1{
    display: flex;
    flex-direction: column;
}

.fontsmall1{
    margin-bottom: 20px;
    font-family: arial;
    font-size: 25px;
}

.marginbox{
    margin-top: 20px;
    margin-left: 670px;
    margin-right: 670px;
    display: flex;
    justify-content: space-between;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: #2E3136;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: #454955;
}

/*More Specs*/

.bigbox{
    margin-top: 100px;
    height: 900px;
    width: 1856px;
    background-color: #00000017;
    position:absolute;
}

.mediapocket{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 350px;
    display: flex;
    justify-content: space-between;
}

.mediapocket1{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}

.text4{
    margin-top: 10px;
    font-family: arial;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.text41{
    margin-top: 20px;
    font-family: arial;
    font-size: 25px;
    color: #0000008c;
}

/*More Specs1*/

.bigbox1{
    margin-top: 1000px;
    height: 850px;
    width: 1856px;
    background-color: #00000017;
    position: absolute;
}

.walletpocket{
    margin-left: 320px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.walletpocket1{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}

/*More Specs2*/

.bigbox2{
    margin-top: 1850px;
    height: 850px;
    width: 1856px;
    background-color: #00000017;
    position:absolute;
}

.resistance{
    margin-left: 250px;
    margin-right: 350px;
    display: flex;
    justify-content: space-between;
}

.resistance1{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
}

/*More Specs1*/

.bigbox3{
    margin-top: 2700px;
    height: 849px;
    width: 1856px;
    background-color: #00000017;
    position: absolute;
}

.usa{
    margin-left: 320px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.usa1{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}


/*Last*/
.marginlast{
    margin-top: 3548px;
}

.imagelast{
    position: absolute;
}

.textlast{
    margin-top: -550px;
    font-size: 18px;
    font-family: arial;
    color: #ffffff;
    margin-left: 250px;
}

.shopnowbutton{
    width: 190px;
    height: 60px;
    background-color: white;
    color: black;
    margin-top: 380px;
    margin-left: 250px;
    position: absolute;
}

.shopnowtext{
    margin-top: 19px;
    margin-left: 30px;
    font-size: 23px;
    font-family: arial;
    color: black;
    position: absolute;
}